*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.top-menu{
    display: flex;
    background-color: darkgray;
    min-height: 60px;
    border-bottom: 1px solid;
}

.top-nav-items {
    list-style:none;
    display: flex;
    padding: 1em 2em;
}

.top-nav-items li {
    padding: .2em .2em;
}

.top-nav-items a{
    text-decoration:none;
    color: #68565A;
}

nav a:hover{
    background-color: #743694;
}

.euphoria-logo {    
    margin-right: auto;
    padding: .2em .2em; 
    background-color: rgba(255,255,255, .3);
}