
/* default settings*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Media Settings*/
@media (max-width: 400px) {

    .home-page-container {
        display:block;
    }
}

body {
    background-color: coral;
}
body p{
    font-size: small;
}

body h1{
    font-size: medium;
    color: #68565A;
}
/* Top Nav Bar*/

.logo{
    margin-right: auto;
    padding:.2em .6em;
}

#top-menu{
    display: flex;
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 20px;
}

.menu-items {
    list-style:none;
    padding: 0 .5em; 
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu-items a{
    height: 100%;
    text-decoration:none;
    color: #68565A;
    padding: 1em;
}

.menu-items a:hover{
    background-color: darkgrey;
    color:black;
  
}

/* Home Page Layout*/
.home-page-container{
    display: grid;
    grid-template-areas:
        "feature feature feature"
        "box-1 box-2 box-3";
    /*grid-template-rows: 6fr 6fr;*/
    grid-auto-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px;

    margin: auto;
    max-width: 70%;
}

.home-page-container article{
    border: 1px black solid;
    min-height: 200px;
    background-color: aquamarine;

}

.home-page-container section{
    
    border-radius: 20px;
    padding: 5px;
    min-height: 200px;
    max-height:200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    background-color: burlywood;
}

#home-feature {
    grid-area: feature;
    display: grid;
    grid-template-rows: 2em 1fr;
    grid-template-areas: 
        "feature-image feature-header"
        "feature-image feature-text";
    justify-content: left;
  
}

#feature-image {

    height: 180px;
    width: 180px;
    margin: 10px;
    object-fit: contain;
   
    
}
#home-feature h1{
    text-align: left;
    grid-area: feature-header;
}

#home-feature p{
    grid-area: feature-text;
}

#home-classes {
    grid-area:box-1;
}

#home-events {
    grid-area: box-2;
}

#home-fees {
    grid-area: box-3;
}

/* Footer */
footer {
    display: flex;
    font-size: 10px;
    background-color: lightgray;
    width: 100%;
    margin-top: 30px;
}

footer p{
    width:100%;
    
    text-align: center;
}
