
/* default settings*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
}

/* Top Nav Bar*/

.logo{
    margin-right: auto;
    padding:.2em .6em;
}

#top-menu{
    display: flex;
    background-color:lightgray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
}

.menu-items {
    list-style:none;
    padding: 0 .5em; 
    display: flex;
    align-items: center;

}

.menu-items a{
    height: 100%;
    text-decoration:none;
    color: #68565A;
    padding: 1em;
}

.menu-items a:hover{
    background-color: darkgrey;
    color:black;
  
}

/* Footer */
footer {
    display: flex;
    font-size: 10px;
    background-color: lightgray;
    width: 100%;
    align-items: center;
}
