/* Default values*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TOP NAVIGATION BAR STYLING */
.top-nav {
    display: flex;
    font-size: 1.2em;
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    margin-right: auto;
    padding:.2em .6em;
}

.menu-items {
    list-style:none;
    padding: 0 .5em; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-items a{
    height: 100%;
    text-decoration:none;
    color: #68565A;
    padding: 1em;
}

.menu-items a:hover{
    background-color: darkgrey;
    color:black;
}


/* SIDE NAVIGATION BAR STYLING */
.side-nav {
    position:fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 80vw;
    background-color: rgba(197, 196, 196, 0.233);
    backdrop-filter: blur(5px);
    font-size: 1.2em;
    display:none;

}

.side-menu-items {
    list-style: none;
    padding-top: .90em;
}


.side-nav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #68565A;
    padding: .5em;
}

.side-nav a:hover{
    background-color: darkgrey;
    color:black;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* BODY */
html, body {
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.content {
    flex: 1 0 auto;
    margin: 0 auto;
}

/*HOME PAGE STYLING*/
.home-feature {
    display: flex;
    align-items: flex-start; 
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
}

.home-feature img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 25px;
    border:white 5px solid;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.home-feature-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HIGHLIGHTS SECTION*/
.highlights {
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;

}

.highlight-content {
    flex:1;
    min-width: 30%;
    min-height:300px;
    margin: 5px;
    padding: 20px;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 25px;
    border:white 5px solid;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

}

.highlight-content:nth-of-type(1) {
    background-image: url('../images/content/events-image.jpg');
}

.highlight-content:nth-of-type(2) {
    background-image: url('../images/content/classes-image.jpg');
}

.highlight-content:nth-of-type(3) {
    background-image: url('../images/content/events-image.jpg');
}


/* Event Calendar Image*/

.event-calendars {
    display:flex;
    flex-direction: column;
    flex: 1;
    width:100%;
    min-width: 400px;
    max-width: 600px;
    gap: 20px;

}


/* Embedded Event Calendar*/
.event-calendar {

    height: 350px;

}

/* Table Styling*/
table {
    width:100%;
    
}

th, caption {
    text-align: left;
}

caption {
    font-size:1.2rem;
    font-weight: bold;
    text-transform:uppercase;
}


th{
    padding: .2rem;
    font-size: 1rem;
}

td {
    padding: .2rem;
}


.tb-subhead {
    background-color:blueviolet;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    
}

/* Adjustments for Responsive Design*/
@media (max-width: 800px) {

    /* Change orientation of page to columns*/
    .home-feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .highlights {
        flex-direction: column;
    }

    /* Hide Horizontal nav bar menu items*/
    .menu-items {
        display: none;
    }
    
}

/* Adjustments for Table */
@media(max-width:600px) {
    th{
        display:none;
    }

    td{
        display:block;
    }

  

    td:last-child{
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
        text-transform: capitalize;
    }

    tr {
        pa
    }
}