/* Default values*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TOP NAVIGATION BAR STYLING */
.top-nav {
    display: flex;
    font-size: 1.2em;
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    margin-right: auto;
    padding:.2em .6em;
}

.menu-items {
    list-style:none;
    padding: 0 .5em; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-items a{
    height: 100%;
    text-decoration:none;
    color: #68565A;
    padding: 1em;
}

.menu-items a:hover{
    background-color: darkgrey;
    color:black;
}


/* SIDE NAVIGATION BAR STYLING */
.side-nav {
    position:fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 80vw;
    background-color: rgba(197, 196, 196, 0.233);
    backdrop-filter: blur(5px);
    font-size: 1.2em;
    display:none;

}

.side-menu-items {
    list-style: none;
    padding-top: .90em;
}


.side-nav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #68565A;
    padding: .5em;
}

.side-nav a:hover{
    background-color: darkgrey;
    color:black;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* BODY */
html, body {
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

article {
    padding-bottom: 2rem;
    padding-left: 1rem;
}

audio {
    margin-top: 1rem;
}

.content {
    flex: 1 0 auto;
    margin: 0 auto;
}

.text-list {
    padding-left: 40px;
}

/*HOME PAGE STYLING*/
.home-feature {
    display: flex;
    align-items: flex-start; 
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
}

.home-feature img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 25px;
    border:white 5px solid;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.home-feature-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HIGHLIGHTS SECTION*/
.highlights {
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;

}

.highlight-content {
    flex:1;
    min-width: 30%;
    min-height:300px;
    margin: 5px;
    padding: 20px;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 25px;
    border:white 5px solid;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

}

.highlight-content:nth-of-type(1) {
    background-image: url('../images/content/events-image.jpg');
}

.highlight-content:nth-of-type(2) {
    background-image: url('../images/content/classes-image.jpg');
}

.highlight-content:nth-of-type(3) {
    background-image: url('../images/content/events-image.jpg');
}


/* Event Calendar Image*/

.event-calendars {
    display:flex;
    flex-direction: column;
    flex: 1;
    width:100%;
    min-width: 400px;
    max-width: 600px;
    gap: 20px;

}


/* Embedded Event Calendar*/
.event-calendar {

    height: 350px;

}

/* Table Styling*/
table {
    width:100%;
}

th, caption {
    text-align: left;
}

caption {
    font-size:1.1rem;
    font-weight:bold;
    text-transform:uppercase;
    padding-top: 1rem;
    padding-bottom:1rem;
}

th{
    padding:.2rem;
    font-size:.8rem;
}

td {
    padding: .2rem;
    border-bottom: 1px solid rgb(153, 153, 155);
}


/* CONTACT US STYLING*/

form {
    padding: 20px;

}
#form-row{
    display:flex;
    align-items: top;
    margin-bottom: 1rem;
}


input {
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border: 1px solid gray;
    border-radius: 10px;
}

input:focus-within{
    outline:none;
    background-color: antiquewhite;
}

textarea {
    width: 70%;
    font-size: 15px;
    padding: 16px 16px;
    border-radius: 10px;
    height: 100px;
}

textarea:focus-within{
    outline:none;
    background-color: antiquewhite;
}

.submit-button {
    background-color: purple;
    border-radius: 20px;
    font-size: 20px;
    padding: .5rem;
    text-align: center;
    color: white;
}

.submit-button:hover{
    opacity: 80%;
    cursor: pointer;
}

/* FAQ Content Styling*/
.faq-container{
    width:100%;
    margin: auto;
}

.faq-question{
    background-color:#743694;
    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #EEEEEE;
}

.faq-question i{
    font-size: 1rem;
}

/* faq-active is used in JS */
.faq-active,
.faq-question:hover {
    background-color: #5dade2 ;
    transition:0.5s;
    color: #333333;
}

.faq-answer{
    padding: 0 20px;
    background-color: #5dade2 ;
    display:none;
    overflow: hidden;
    padding: 1rem, 1.5rem;
    overflow: hidden;

}

.faq-answer.show{
    display:block;
}

.faq-answer p {
    color: rgba(0,0,0, 0.7);
    font-size: 1rem;
    line-height: 1.4;
}

.faq-item {
    border: 1px solid rgba(0,0,0, 0.2);
    margin: 10px 0;
}

/* Adjustments for Screen Responsive Design*/
@media (max-width: 800px) {

    /* Change orientation of page to columns*/
    .home-feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .highlights {
        flex-direction: column;
    }

    /* Hide Horizontal nav bar menu items*/
    .menu-items {
        display: none;
    }

    table,
    caption
    {
        padding-left: 1rem;;
    }

    p {
        padding-left: 1rem;
    }
    
}

/* Adjustments for Table Responsive Design */
@media(max-width:700px) {


    th{
        display:none;
    }

    td{
        display:grid;
        grid-template-columns: 10ch auto;
    }

    td:last-child{
        padding-bottom: 1rem;
    }

    /*Apply a label before the Content of Cell when collapsed*/
    td::before {
        font-weight: bold;
        text-transform: capitalize;
    }

    td:nth-of-type(1)::before {
        content: "service: ";
    }

    td:nth-of-type(2)::before {
        content: "rate: ";
    }

    td:nth-of-type(3)::before {
        content: "details: ";
    }


}